*
!/.github/
!/.github/**
!/.vscode/
!/.vscode/*.json
!/cli/
!/cli/**/
!/cli/**/*.ts
!/lib/
!/lib/**/
!/lib/**/*.ts
!/tests/
!/tests/**/
!/tests/**/*.ts
!/.gitignore
!/cli.ts
!/mod.ts
!/README.md
!/version.ts
